/* Write your CSS here */
.homecontainer {
  background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-lg-bg.png');
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-size: cover;
  align-items: center;
}
.imagecontainer {
  display: flex;
  flex-direction: row;
}
.logo {
  height: 80px;
  width: 100px;
  margin: 10px;
}
h1 {
  color: white;
}
